.product-recommendations-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.complementary-products-heading {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.product-recommendations-list .product-card-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.product-recommendations-list .card-media {
  width: 100%;
  max-width: 100%;
}

.product-recommendations-list .card-heading {
  padding: 0;
}

.product-recommendations-list .card-heading a {
  font-size: calc(var(--font-heading-scale) * 1.3rem);
  text-decoration: none;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-recommendations-list .price-item {
  font-size: calc(var(--font-heading-scale) * 1.3rem);
}

.product-recommendations-list .quick-add__submit {
  font-size: calc(var(--font-heading-scale) * 1.3rem);
  color: #121212;
  background: none;
  border: none;
  padding: 3rem;
  cursor: pointer;
  text-transform: none;
}