/* sections/product-details.liquid */
.product-details {
    display: block;
    width: 100%;
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-foreground));
}

.product-details__container {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.product-details__block {
    border-bottom: 1px solid rgb(var(--color-foreground), 0.2);
}

.product-details__block:last-child {
    border-bottom: none;
}

.product-details__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem 0;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    color: rgb(var(--color-foreground));
}

.product-details__title {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(var(--color-foreground));
}

.product-details__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 1.6rem;
    width: 20px;
    height: 20px;
    color: rgb(var(--color-foreground));
}

.product-details__icon svg {
    width: 100%;
    height: 100%;
    display: block;
}

.product-details__content {
    padding-bottom: 2rem;
}

.product-details__content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5.2rem;
    align-items: start;
}

.product-details__content-text {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: 1.6rem;
}

.product-details__images-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
}

.product-details__image {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 8px;
}

.product-details__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.product-details__image-placeholder {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    background-color: rgba(var(--color-foreground), 0.2);
    border-radius: 4px;
}

.product-details__image-placeholder .placeholder-svg {
    width: 100%;
    height: 100%;
}

.product-details__text-column {
    width: 40%;
}

.product-details__images-column {
    width: 60%;
}

@media screen and (max-width: 749px) {
    .product-details__text-column {
        width: 100%;
    }

    .product-details__images-column {
        width: 100%;
    }

    .product-details__content-wrapper {
        flex-direction: column;
        gap: 1.4rem;
    }

    .product-details__images-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;

    }

    .product-details__title {
        font-size: 1.4rem;
    }

    .product-details__header {
        padding: 1.6rem 0;
    }

    .product-details__content {
        padding-bottom: 1.6rem;
    }

    .product-details__content-text {
        font-size: 1.4rem;
    }

}