/* sections/blogs.liquid */
.blogs-section__title {
  text-align: center;
  margin: 0 0 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.blogs-section__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem 3.5rem;
  border-bottom: 1px solid rgb(var(--color-foreground));
}

.blogs-section__nav-link {
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  color: rgba(var(--color-foreground), 0.6);
}

.blogs-section__grid {
  padding: 0 3.5rem;
  display: flex;
  flex-direction: row;
}

.blogs-section__article {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(var(--color-foreground));

}

.blogs-section__article:last-child {
  border-right: 1px solid rgb(var(--color-foreground));
}

.blogs-section__image-wrapper {
  width: 100%;
  margin-bottom: 2.7rem;
  overflow: hidden;
}

.blogs-section__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.blogs-section__image-placeholder {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.7rem;
  background: rgba(var(--color-foreground), 0.15);
}

.blogs-section__image-placeholder .placeholder-svg {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.blogs-section__content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 0 6rem 4rem 2rem;
}

.blogs-section__article-title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0rem;
  color: rgba(var(--color-foreground), 1);
}

.blogs-section__description {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.75rem;
  letter-spacing: 0rem;
  color: rgba(var(--color-foreground), 0.7);
  font-weight: 300;
}

.blogs-section__read-more {
  color: rgba(var(--color-foreground), 0.7);
  text-decoration: underline;
  font-size: 1.13rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
}

.blogs-section__heading {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.16rem;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  color: rgba(var(--color-foreground), 1);
}

@media screen and (max-width: 768px) {
  .blogs-section__grid {
    flex-direction: column;
    padding: 0 0rem;
    gap: 0.5rem;
  }

  .blogs-section__article {
    border: none;
  }

  .blogs-section__title {
    font-size: 2rem;
  }

  .blogs-section__article:last-child {
    border-right: none;
  }

  .blogs-section__navigation {
    border-bottom: none;
    border-top: 1px solid rgb(var(--color-foreground));
    align-items: flex-start;
    gap: 1rem;
  }

}