/* sections/animated-features.liquid */
.animated-features {
  display: block;
  width: 100%;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
}

.animated-features__heading,
.animated-features__subheading,
.animated-features__button,
.animated-features__notes {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity var(--animation-speed, 1.2s) ease-out, transform var(--animation-speed, 1.2s) ease-out;
}

.animated-features__card {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity var(--card-animation-speed, 1s) ease-out, transform var(--card-animation-speed, 1s) ease-out;
}

.animated-features__heading.is-visible,
.animated-features__subheading.is-visible,
.animated-features__button.is-visible,
.animated-features__notes.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.animated-features__card.is-visible {
  opacity: 1;
  transform: scale(1);
}

.animated-features__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  align-items: start;
}

.animated-features__left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  
}

.animated-features__left-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100%;
}

.animated-features__heading {
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 1.2;
  color: rgb(var(--color-foreground));
}

.animated-features__subheading {
  font-size: 3.6rem;
  line-height: 1.6;
  color: rgb(var(--color-foreground), 0.8);
}

.animated-features__left-content a {
  text-decoration: none;
  color: rgb(var(--button-text));
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-size: 2.4rem;
}

.animated-features__button {
  align-self: flex-start;
  background-color: rgb(var(--button));
}

.animated-features__notes {
  font-size: 1.8rem;
  line-height: 1.6;
  color: rgb(var(--color-foreground), 0.7);
}

.animated-features__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-content: space-around;
  height: 100%;
}

.animated-features__card {
  position: relative;
  aspect-ratio: 1;
  cursor: pointer;
}

.animated-features__card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform var(--card-flip-speed, 0.6s);
  transform-style: preserve-3d;
}

.animated-features__card.is-flipped .animated-features__card-inner {
  transform: rotateY(180deg);
}

.animated-features__card-front,
.animated-features__card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
  background-color: rgb(var(--color-background));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(var(--color-foreground));
}

.animated-features__card-front {
  padding: 4rem;
}

.animated-features__card-back {
  padding: 2rem;
}

.animated-features__icon {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  z-index: 1;
  width: 3rem;
  height: 3rem;
  display: flex;
  color: rgb(var(--color-foreground));
}

.animated-features__icon svg {
  width: 3rem;
  height: 3rem;
  display: block;
}

.animated-features__card-back {
  transform: rotateY(180deg);
}

.animated-features__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 3rem;
}

.animated-features__label {
  margin-top: 1.2rem;
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
  color: rgb(var(--color-foreground));
}

.animated-features__flipped-text {
  font-size: 1.8rem;
  line-height: 1.2;
  color: rgb(var(--color-foreground));
  text-align: center;
  padding: 1.6rem;
}


@media screen and (max-width: 1480px) {
  .animated-features__heading {
    font-size: 5rem;
  }

  .animated-features__subheading {
    font-size: 2rem;
  }
  .animated-features__left-content a {
   font-size: 2rem;
  }
  .animated-features__notes {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 989px) {
  .animated-features__container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .animated-features__heading {
    font-size: 3rem;
  }

  .animated-features__subheading {
    font-size: 1.4rem;
  }

  .animated-features__grid {
    gap: 1.6rem;
  }

  .animated-features__notes {
    display: none;
  }

  .animated-features__left-content {
    gap: 2rem;
  }

  .animated-features__left-content a {
    font-size: 1.4rem;
  }

  .animated-features__label {
    font-size: 1.6rem;
  }

  .animated-features__flipped-text {
    font-size: 1.6rem;
  }

  .animated-features__image {
    padding: 1rem;
  }
}